{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    {{ block("logged_status", "logged.html.twig") }}
    <br/>
    <h1 class="h3">User list</h1>
    <div><a href="{{ url('user.new') }}">New</a></div>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Roles</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.name|e }}</td>
                    <td>{{ user.email|e }}</td>
                    <td>
                        {% if 'ROLE_ADMIN' in user.roles %}
                            ADMIN
                        {% else %}
                            {% set roles = '' %}
                            {% for role in user.roles %}
                                {% if role != 'ROLE_ADMIN' %}
                                    {% set roles = roles ~ role|split('_').1 %}
                                {% endif %}
                            {% endfor %}
                            {{ roles }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url('user.get', {'id': user.id} ) }}">Edit</a>
                        {% if user.id != app.user.id %}
                            <a href="{{ url('user.delete', {'id': user.id} ) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}